* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 5rem auto 8rem;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

h2 {
  font-weight: lighter;
}

main {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 1rem;
}

section {
  margin: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

aside {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(164, 122, 231);
}

aside li {
  margin-bottom: 0.5rem;
}

footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 205, 236);
}

footer li {
  margin: 1rem;
}

img {
  display: none;
}

@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: auto 15rem;
    grid-template-rows: 6rem auto 8rem;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  footer li {
    display: inline;
  }

  img {
    display: initial;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 8px black;
    margin: 2rem 0 2rem 0;
    align-self: center;
  }
}
